
.appMain {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('./dino_landing.jpg');
  padding: 35px;
  height: 100%;
  width: 100%;
  display: flex;
}

.appEnter {
  text-align: center;
  width: 100%;
  
  > button {
    -webkit-appearance: none;
    background-color: transparent;
    border-style: dashed;
    border-width: 6px;
    color: white;
    height: 50px;
    width: 225px;
  }
}