
:global {
  html { 
    font-family: 'Roboto', sans-serif;
  }
}

.appMain {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)) , url('./images/jurrasic-wave.jpg');
  padding: 35px;
  height: 100%;
  width: 100%;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.appEnter {
  text-align: center;
  width: 100%;
  
  > button {
    -webkit-appearance: none;
    font-weight: 500;
    background-color: rgba(31, 25, 18, 0.23);
    border: 6px dashed #8B3300;
    color: white;
    height: 50px;
    width: 225px;
    
    &:focus {
      outline: none;
    }
  }
}

.heading {
  text-align: center;
  
  > h2 {
    background: linear-gradient(to right, rgba(139,69,19,1) 0%, rgba(193,158,103,1) 49%, rgba(182,141,76,1) 62%, rgba(139,69,19,1) 100%);
    background: -moz-linear-gradient(left, rgba(139,69,19,1) 0%, rgba(193,158,103,1) 49%, rgba(182,141,76,1) 62%, rgba(139,69,19,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(139,69,19,1)), color-stop(49%, rgba(193,158,103,1)), color-stop(62%, rgba(182,141,76,1)), color-stop(100%, rgba(139,69,19,1)));
    border: 1px solid black;
  }
}
