
.card {
  border-radius: 5px;
  border: 1px solid black;
  width: 178px;
  height: 206px;
  margin: 23px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  
  & > div:first-child {
    height: 20px;
    padding: 3px;
    background-color: white;
    
    > a {
      color: black;
    }
  }
 
}

.toolbelt {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 1px solid black;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 178px;
  height: 25px;
  background-color: white;
  
  span {
    cursor: pointer;

    i {
      width: 25%;
    }
  }
}

.cardImgContainer {
  background-color: saddlebrown;
  height: 155px;
  width: 100%;
  
  > img {
    padding: 10px 0px;
    width: 178px;
    height: 136px;
  }
}
